* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.listUsers {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1em;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.datos {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.datosUsers {
    padding: 5px;
    margin: 5px;
}